div.modal {
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 1;
  margin: 1;
}
h2.modal {
  font-size: 1.4rem;
  padding: 1;
  margin: 1;
}
p.advice {
  font-weight: bolder;
  padding: 1;
  margin: 1;
}
p.modal {
  font-size: 1.3rem;
  padding: 1;
  margin: 1;
}
.hash {
  font-size: 1.1rem;
  padding: 1;
  margin: 1rem;
  font-weight: bolder;
}
